<div class="jumbotron">
  <h1>Welcome to the Unit Archives</h1>
  <p class="lead">
    <img src="images/McBoneski.jpg" alt="Oh yeah baby that's my spot"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Enter <span class="glyphicon glyphicon-log-in "></span></a></p>
</div>

<div class="row marketing">
  <h4>Tradition.</h4>
  <p>
    An archive of excellent manuscripts containing bone lore
  </p>

  <h4>Excellence.</h4>
  <p>
    The Illustrious Staff has been delievering greatness for year. 
  </p>

  <h4>Dick Jokes.</h4>
  <p>No one like a small Unit</p>
</div>
